<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/layout  :: layout (template=~{::main},templateClass='', description='page du plan de classement', title=#{plan.classement.title})}"
>
    <main role="main" id="main_content" class="page-layout__content">
        <h1 class="base-title base-title--lvl-1" th:text="#{plan.classement.title}">Plan de classement</h1>
        <p th:text="#{plan.classement.info}"></p>
    </main>
</html>
