<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <th:block th:fragment="recherche-ations">
            <div class="page-reponses-search__buttons m-y-5">
                <div>
                    <button
                        type="button"
                        onclick="reinitSearch('/recherche/reinit', hardReloadPage)"
                        class="base-btn base-btn--button base-btn--default base-btn--light base-btn--bordered m-r-0-5em"
                        th:text="#{recherche.reinit.label}"
                    >
                        Réinitialiser la recherche
                    </button>
                    <button
                        type="button"
                        onclick="cleanSearchForm()"
                        class="base-btn base-btn--button base-btn--default base-btn--light base-btn--transparent base-btn--bordered"
                        th:text="#{recherche.cleanForm.label}"
                    >
                        Effacer tous les filtres
                    </button>
                </div>
                <button
                    type="button"
                    onclick="launchSearch(event)"
                    class="base-btn base-btn--submit base-btn--default"
                    th:text="#{recherche.rechercher.label}"
                >
                    Rechercher
                </button>
            </div>
        </th:block>
    </body>
</html>
