<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    th:replace="~{layouts/layout  :: layout (template=~{::main},templateClass='', description='Page historique mise à jour des timbres', title=#{menu.admin.user.timbres.title})}"
>
    <main
        role="main"
        id="main_content"
        class="page-layout__content"
        th:with="tableCaption=#{menu.admin.user.timbres.title}"
    >
        <div class="heading-complex m-b-6">
            <div class="heading-complex__main">
                <h1 class="base-title base-title--lvl-1" th:text="#{menu.admin.user.timbres.title}">
                    Historique des timbres
                </h1>
            </div>
        </div>

        <div th:replace="fragments/table/tableHistoriqueMAJTimbres :: searchResults"></div>
    </main>
</html>
